/* VARS */
:root {
  --color-white: white;
  --color-blue-light: #ddf2fa;
  --color-blue-light2: #bfe7f6;
  --color-blue-medium: #146aa7;
  --color-blue-dark: #012533;
  --color-blue-darkest: #01151c;
  --color-header: var(--color-blue-medium);

  --width-aside: 300px;
  --border-radius: 5px;
  --backdrop-filter: saturate(120%) blur(4px);
  --text-shadow: 1px 1px 2px black;
}

/* COMMONS & GLOBALS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: var(--color-blue-medium);
  color: var(--color-blue-light);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  background-color: var(--color-white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Kiwi Maru', serif;
  color: var(--color-blue-darkest);
}

main {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  background-color: var(--color-blue-light);
}

a {
  color: var(--color-blue-medium);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.15s ease;
}

hr {
  width: 95%;
  border-color: var(--color-blue-medium);
  margin: 0.75rem 0;
  border-style: solid;
  opacity: 0.25;
}

/* HELPERS */
.withWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.withFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withSticky {
  position: sticky;
  top: 0;
  z-index: 3;
}

.imageBackground {
  background-repeat: no-repeat;
  background-size: cover;
}

.withCustomList ul,
.withCustomList a {
  color: var(--color-blue-light2);
}
.withCustomList a {
  font-size: 1rem;
  text-decoration: none;
}
@media (hover: hover) {
  .withCustomList a:not(.socialMediaItem):hover,
  .withCustomList a:not(.socialMediaItem):focus {
    text-decoration: underline;
    padding-left: 0.5rem;
  }
}

/* THE HEADER */
.heroImg {
  background-position: center left;
  background-image: url(../img/cabecera-moviles.jpg);
  height: 180px;
}
.heroTitle {
  text-align: center;
  color: var(--color-white);
}
.heroTitle h1,
.heroTitle h3 {
  margin: 0;
  text-shadow: var(--text-shadow);
}
.heroTitle h1 {
  font-size: 2.5vw;
  letter-spacing: 1px;
}
.heroTitle h1 strong,
.heroTitle h1 span {
  color: #c9e6f2;
}
.heroTitle h1 span {
  text-transform: lowercase;
  position: relative;
  left: 2px;
}
.heroTitle h3 {
  font-size: 1.48vw;
  font-weight: 500;
}
.hero {
  justify-content: flex-end;
}
header .heroTitle {
  width: 100%;
  padding: 1rem;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .hero {
    justify-content: flex-start;
  }
  .heroImg {
    height: 120px;
  }
  .heroTitle h1 {
    font-size: 1.25rem;
  }
  .heroTitle h3 {
    font-size: 80%;
    letter-spacing: 0.02rem;
  }
}

/* THE (TOP MAIN) NAVBAR */
.mainNavbar {
  background-color: var(--color-blue-dark);
  z-index: 4;
}
.mainNavbar nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mainNavbar a {
  font-size: 1rem;
  color: var(--color-blue-light);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.mainNavbar a:hover,
.mainNavbar a:visited,
.mainNavbar a:active,
.mainNavbar a.isActive {
  background-color: var(--color-blue-darkest);
  color: var(--color-blue-medium);
}
.mainNavbar a:hover span,
.mainNavbar a:visited span,
.mainNavbar a:active span,
.mainNavbar a.isActive span {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .mainNavbar a {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .mainNavbar a span {
    display: none;
  }
}

/* SECTIONS */
.sectionWrapper {
  position: relative;
}
.sectionTitle {
  top: 40px;
  background-color: rgba(36, 128, 163, 0.75);
  backdrop-filter: var(--backdrop-filter);
  margin: 0;
  padding-bottom: 0.2rem;
  font-size: 1.15rem;
  color: var(--color-white);
  line-height: 1.75em;
  text-align: center;
  text-transform: uppercase;
}
.sectionItemsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0 -0.25rem; */
  padding: 0 0.25rem;
}
.sectionItemsList:not(.withWrapper) {
  width: 100%;
  padding: 0;
}

.sectionItemsList > .sectionItem:not(.withImg) {
  padding: 0.5rem 0.25rem;
}
.sectionItemsList > .sectionItem.withImg,
.sectionItemImg {
  width: 100%;
  padding: 0;
  margin: 0;
}
.sectionItemImg img {
  width: 100%;
  min-height: 222px; /* Smallest image height */
}

.sectionItemsList > .is25 {
  width: 25%;
}
.sectionItemsList > .is33 {
  width: 33.3333%;
}
.sectionItemsList > .is50 {
  width: 50%;
}

@media screen and (min-width: 1200px) {
  .sectionTitle {
    background: -moz-linear-gradient(
      left,
      rgba(221, 242, 250, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(221, 242, 250, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(221, 242, 250, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(221, 242, 250, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(221, 242, 250, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(221, 242, 250, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf2fa', endColorstr='#ddf2fa',GradientType=1 ); /* IE6-9 */
  }
}
@media screen and (max-width: 900px) {
  .sectionItemsList > .sectionItem {
    width: 50%;
  }
}
@media screen and (min-width: 601px) and (max-width: 899px) {
  .sectionItemsList > .is33:first-child {
    width: 40%;
  }
  .sectionItemsList > .is33:nth-child(2),
  .sectionItemsList > .is33:nth-child(3) {
    width: 30%;
  }
  .sectionItemsList > .is33:nth-child(2) .sectionItemTitle,
  .sectionItemsList > .is33:nth-child(2) .sectionItemDesc,
  .sectionItemsList > .is33:nth-child(3) .sectionItemTitle,
  .sectionItemsList > .is33:nth-child(3) .sectionItemDesc {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .sectionItemsList > .sectionItem {
    width: 100%;
  }
}

/* SPECIAL SECTIONS */
/* Video blocks */
.sectionItemVideo {
  width: 100%;
  border-radius: var(--border-radius);
}

/* iFrame blocks */
.iframeMenu {
  width: 425px;
  max-width: 100%;
}
.iframeItem {
  width: 100%;
}
.sectionIframe {
  justify-content: flex-start;
  background-color: var(--color-blue-darkest);
}
.sectionIframe ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 2rem;
}
.sectionIframe ul li {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 769px) {
  .sectionIframe {
    flex-direction: row;
  }
  .iframeMenu,
  .iframeItem {
    height: 500px;
  }
}

/* Hero blocks */
.withHero {
  position: relative;
}
.sectionItemHero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sectionItemHero.heroTitle h3 {
  font-size: 3rem;
  margin: 1rem 0;
}
@media screen and (max-width: 1080px) {
  .sectionItemHero.heroTitle h3 {
    margin: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .sectionItemHero {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .sectionItemHero.heroTitle h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .sectionItemHero.heroTitle h3 {
    font-size: 1.5rem;
  }
}

/* BUTTONS */
.btn {
  padding: 0.5rem 1rem 0.75rem 1rem;
  border: 1px solid var(--color-white);
  border-radius: 2rem;
  color: var(--color-white);
}
@media (hover: hover) {
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn.isActive {
    background-color: var(--color-white);
    color: var(--color-blue-darkest);
  }
}
.sectionItemDesc + .btn {
  margin-top: 2rem;
}

/* ARTICLES */
.sectionItemTitle {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.sectionItemTitle a,
.relatedItem {
  color: var(--color-blue-medium);
  text-decoration: none;
}
@media (hover: hover) {
  .sectionItemTitle a:hover,
  .relatedItem:hover {
    text-decoration: underline;
  }
}

p:not(.sectionItemDesc) {
  margin-bottom: 0.5rem;
}

.sectionItemDesc {
  font-size: 0.95rem;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .sectionItemDesc {
    display: none;
  }
}

/* THE FOOTER */
.footerImg {
  background-position: center center;
  background-image: url(../img/fondo-azul.jpg);
}
.footer {
  justify-content: space-between;
}

/* Inner nav links */
.innerLinksNavbar {
  max-width: 90%;
  margin: 0 auto;
}
.innerLinksNavbar h5 {
  margin: 1rem 0;
  font-size: 1.1rem;
  color: var(--color-white);
}
@media screen and (max-width: 600px) {
  .innerLinksNavbar > .sectionItem {
    width: 250px;
    margin: 0 auto;
  }
}

/* social media */
.socialMediaNavbar {
  max-width: 300px;
  margin: 0 auto 2rem auto;
}
.socialMediaNavbar a {
  display: inline-block;
  min-width: 38px;
  border-radius: var(--border-radius);
  font-size: 1.25rem;
  cursor: pointer;
}
.socialMediaNavbar a i {
  padding: 0.5rem 0.66rem;
}

/* Legal inner nav links */
.legalLinksNavbar {
  width: 100%;
  background-color: var(--color-blue-medium);
  text-align: center;
}
.legalLinksNavbar a {
  color: var(--color-white);
}
.legalLinksNavbar a::after {
  content: '|';
  display: inline-block;
  padding-right: 0.25rem;
  padding: 0.5rem;
}
.legalLinksNavbar a:last-child::after {
  display: none;
}
@media screen and (max-width: 600px) {
  .legalLinksNavbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .legalLinksNavbar a {
    padding: 0.25rem 0;
    font-size: 85%;
  }
  .legalLinksNavbar a::after {
    display: none;
  }
}
@media (hover: hover) {
  .legalLinksNavbar a:hover {
    color: var(--color-blue-dark);
  }
}

/* TO TOP ANCHOR LINK */
.toTopContainer {
  position: fixed;
  bottom: 1.25rem;
  right: 1rem;
  z-index: 99;
  text-align: center;
}
.toTopContainer a {
  font-size: 3rem;
  color: var(--color-blue-dark);
  text-decoration: none;
}
@media (hover: hover) {
  .toTopContainer::before {
    display: block;
    padding: 1px 3px;
    font-size: 75%;
    font-weight: bold;
  }
}

/* Social media links */
.facebook {
  background: #3b5998;
}
.facebook:hover,
.facebook:active,
.facebook:focus,
.facebook.isActive {
  background: #2d4473;
}
.twitter {
  background: #55acee;
}
.twitter:hover,
.twitter:active,
.twitter:focus,
.twitter.isActive {
  background: #2795e9;
}
.google {
  background: #dd4b39;
}
.google:hover,
.google:active,
.google:focus,
.google.isActive {
  background: #c23321;
}
.linkedin {
  background: #007bb5;
}
.linkedin:hover,
.linkedin:active,
.linkedin:focus,
.linkedin.isActive {
  background: #005882;
}
.youtube {
  background: #bb0000;
}
.youtube:hover,
.youtube:active,
.youtube:focus,
.youtube.isActive {
  background: #800;
}

/* DARK THEME MODE */
/* "button" (checkbox) switcher to change color theme */
#darkTheme {
  position: fixed;
  top: 0.75rem;
  left: 1rem;
  z-index: 99;
}
#darkTheme::before {
  content: attr(data-text-light);
  display: inline-block;
  min-width: 75px;
  position: relative;
  left: 1.2rem;
  color: var(--color-blue-light);
}
@media screen and (max-width: 600px) {
  #darkTheme {
    display: none;
  }
}
/* styles overwrites to change color themes */
@media (prefers-color-scheme: dark) {
  #darkTheme:checked::before {
    content: attr(data-text-dark);
  }
  #darkTheme:checked + main,
  #darkTheme:checked + main + footer {
    background-color: var(--color-blue-dark);
  }
  #darkTheme:checked + main .sectionTitle {
    color: var(--color-blue-darkest);
    background: -moz-linear-gradient(
      left,
      rgba(1, 37, 51, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(1, 37, 51, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(1, 37, 51, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(1, 37, 51, 1) 100%
    ); /* Chrome10-25, Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(1, 37, 51, 1) 0%,
      rgba(104, 170, 195, 0.5) 12%,
      rgba(36, 128, 163, 0.63) 19%,
      rgba(36, 128, 163, 1) 40%,
      rgba(36, 128, 163, 1) 60%,
      rgba(36, 128, 163, 0.64) 81%,
      rgba(114, 176, 200, 0.5) 89%,
      rgba(1, 37, 51, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012533', endColorstr='#ddf2fa',GradientType=1 ); /* IE6-9 */
  }
  #darkTheme:checked + main .sectionItemDesc,
  #darkTheme:checked + main .sectionRelated h6,
  #darkTheme:checked + main + footer .legalLinksNavbar a:hover,
  #darkTheme:checked + main + footer + .toTopContainer a {
    color: var(--color-blue-light2);
  }
}
